h4 a{
	color: #404040;
    text-decoration: none;
    background-color: transparent;
}

.card-body h4{
	font-size: 14px;
    font-weight: 500;
    line-height: 1.4;
}

h4 a:hover{
	color: #404040;
    text-decoration: none;
    background-color: transparent;
}

.card-title{
	
}

.final-price{
    width: auto;
    float: left;
    font-size: 14px;
    color: #6200ee;
    font-weight: 500;
}

.price-regular{
	margin-left: 3.5%;
    text-decoration: line-through;
    color: #9e9e9e;
    /* width: 45%; */
    font-size: 14px;
    float: left;
}

.sale-tag{
	margin-left: 3.5%;
    color: #FF3B26;
    font-size: 16px;
    /* width: 45%; */
    float: left;
    font-size: 14px;
    font-weight: 500;
}

.img-src{
	width: 70px;
    margin-left: 30px !important;
    float: right;
}

.card{
	border-radius: .60rem;
}

.card-img-top {
    width: 100%;
    border-top-left-radius: calc(.60rem - 1px);
    border-top-right-radius: calc(.60rem - 1px);
}

.card:hover{
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 10);
  -moz-box-shadow:0px 0px 6px rgba(0, 0, 0, 10);
  -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.27);
 }

@media (max-width: 993px){
 .col-md-hide{
	display: none;
 }
}
.navbar-nav >li>a
{
    display: table-cell;
    height: 100%;
    width:100%;
    line-height: 50%;
    vertical-align: middle;
    color: #fff;
    font-size: 13px;
    letter-spacing: .1em;
    text-transform: uppercase;
}

