h4 a{
    color: #404040;
    text-decoration: none;
    background-color: transparent;
}

.card-body{
    padding: 12px !important;
}
.card-body h4{
    font-size: 14px;
    font-weight: 500;
    line-height: 1.4;
    word-spacing: -1px;
}

h4 a:hover{
    color: #404040;
    text-decoration: none;
    background-color: transparent;
}

.card-img{
    height: 211.75px;
    z-index: 1;
}

.card-title{
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: inherit;
    -webkit-line-clamp: 2;
    height: 40px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.final-price{
    width: auto;
    float: left;
    font-size: 14px;
    color: #6200ee;
    font-weight: 500;
}

.price-regular{
    margin-left: 3.5%;
    text-decoration: line-through;
    color: #9e9e9e;
    /* width: 45%; */
    font-size: 14px;
    float: left;
}

.sale-tag{
    margin-left: 3.5%;
    color: #FF3B26;
    font-size: 16px;
    /* width: 45%; */
    float: left;
    font-size: 14px;
    font-weight: 500;
}

.img-src{
    height: 26px;
    float: right;
}

.card{
    border-radius: .75rem !important;
}

.card-img-top {
    width: 100%;
    border-top-left-radius: calc(.75rem - 1px) !important;
    border-top-right-radius: calc(.75rem - 1px) !important;
    height: 211.75px !important;
}

.card:hover{
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 10);
  -moz-box-shadow:0px 0px 6px rgba(0, 0, 0, 10);
  -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.27);
 }

@media (max-width: 993px){
 .col-md-hide{
    display: none;
 }
}
.navbar-nav >li>a
{
    display: table-cell;
    height: 100%;
    width:100%;
    line-height: 50%;
    vertical-align: middle;
    color: #fff;
    font-size: 13px;
    letter-spacing: .1em;
    text-transform: uppercase;
}

/*Grow Effect*/
.grow { transition: all .1s ease-in-out; }
.grow:hover { transform: scale(1.005); }

.sale-tag-red{
    float: left;
    border: 1px solid red;
    border-radius: 20px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 11px;
    margin-right: 5px;
    color: white;
    background-color: red;
}

.sale-tag-green{
    float: left;
    border: 1px solid green;
    border-radius: 15px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 12px;
    margin-right: 5px;
    color: white;
    background-color: green;
}

.card-footer {
    padding: 10px 12px !important;
    background-color: rgba(0, 0, 0, .03) !important;
    border-top: 1px solid rgba(0, 0, 0, .125) !important;
}

.card-title {
    margin-bottom: 0rem !important;
}

span{
    color: #333;
    font-size: 14px;
}

.flash-sale{
    background-color: #FF5722;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-size: 14px;
    margin-right: 5px;
    border-radius: 0.57rem;
    padding: 2px 10px 2px 10px;
    max-width: 100px;
    float: left;
    margin-bottom: 0px;
}

.flash-sale-div{
    float: left;
    z-index: 2;
    position: absolute;
}