
.search_bar{
	width: 100%;
	height:40px;
	border-radius:40px;
	border:1px black solid;
	background-color:white;

	}
.search{
	width:80%;
	height:90%;
	border:1px white solid;
	margin-left:20px;
}

.btn_search{
	background-color:white;
	border:1px white solid;
	border-radius: 30px;
	font-size: 20px;
}
@media screen and (max-width: 992px) {
  .btn_search {
    margin-left:12% !important;
  }
  @media screen and (max-width: 770px) {
  .btn_search {
    margin-left:10% !important;
  }
   @media screen and (max-width: 770px) {
  .btn_search {
    margin-left:7% !important;
  }
     @media screen and (max-width: 550px) {
  .btn_search {
    margin-left:0% !important;
  }
}